html, body {
    height: 50%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #fcd5ce;
}

h1, p, form{
    text-align: center;
}
